body {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

/* Handheld (red area) */
.view-window {
    width: 700px;
    height: 600px;
    background-color: rgb(245, 195, 255);
    /* background-color: rgb(255, 100, 100); */
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 5px 8px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* Drawing area */
.container {
    display: grid;
    height:450px;
    width: 550px;
    background: white;
    margin-top: 50px;
    margin-bottom: 20px;
    border-radius: 10px;
}

/* Drawing Divs */
.divs {
    background-color: rgb(255, 255, 255);
    /* border: 0.01em solid;
    border-color: rgb(247, 247, 247); */
}

/* Knob Container */
.knob-container {
    display: flex;
    flex-direction: row;
    width: 650px;
    justify-content: space-between;
}

/* knobs */
.turn1, .turn2 {
    height: 60px;
    width: 60px;
    background-color: white;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 5px 8px;
}

/* Clear/Reset Button */
.reset {
    align-self: center;
    height: 50px;
    width: 150px;
    border-radius: 25px;
    font-size: 24px;
    font-weight: 900;
    border-style: none;
    color: rgb(235, 132, 255);
    background-color:rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 8px;
}

/* Shake Effect Upon Clicking Clear Button */
.view-window:active {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

/* Grid Value Slider */
.range-slider input {
    appearance: none;
    background: white;
    padding: 10px 20px;
}