body {
    width: 100vw;
    background-color: #fcf9f9;
    font-family: 'Poppins', sans-serif;
}

/* Heading */
.heading {
    align-items: flex-end;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    color: #CE49BF;
}

.title-heading {
    margin: 50px;
}

/* THE Container for all contents of body */
.THE-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

/* Main Container */
.main-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 100px;
    margin: 0 auto;
    max-width: 1100px;
}

/* MenuBar */
.menu-bar {
    align-self: center;
    border-radius: 25px;
    width: 200px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
}

#color-picker {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 100px;
    width: 100px;
    border: none;
    background-color: transparent;
}

#color-picker::-webkit-color-swatch {
    border-radius: 50px;
    border: none;
}

#rainbow-img, #eraser-img {
    width: 100px;
    height: auto;
}

/* Slider Div */
.slider-div {
    display: flex;
    flex-direction: column;
    font-size: 24px;
    gap: 20px;
    width: 100%;
}

.slider-label {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

/* Etch-A-Sketch Colored Casing Area */
.view-window {
    width: 600px;
    height: 500px;
    background-color: #FFABE1;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 5px 4px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* Drawing area */
.container {
    display: grid;
    height:380px;
    width: 500px;
    background: white;
    margin-top: 40px;
    margin-bottom: 15px;
    border-radius: 10px;
}
/* 
 Drawing Divs */
.divs {
    border: 0.5px solid;
    border-color: rgb(247, 247, 247); 
}

/* Knob Container */
.knob-container {
    display: flex;
    flex-direction: row;
    width: 550px;
    justify-content: space-between;
}

/* knobs */
.turn1, .turn2 {
    height: 50px;
    width: 50px;
    background-color: white;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 5px 8px;
}

/* Clear/Reset Button */
.reset {
    align-self: center;
    height: 45px;
    width: 175px;
    border-radius: 25px;
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    border-style: none;
    color: rgb(237, 167, 255);
    background-color:rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 8px;
}

/* Shake Effect Upon Clicking Clear Button */
.view-window:active {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

Grid Value Slider
.range-slider input {
    appearance: none;
    background: white;
    padding: 10px 20px;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 22px;
    height: 22px;
    background: #C689C6;
    border-radius: 15px;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 22px;
    height: 22px;
    background: #C689C6;
    cursor: pointer;
  }

/* Footer */
#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footer-text {
    text-align: center;
    font-size: 20px;
}

.github-img {
    height: 18px;
    width: auto;
}

a {
    text-decoration: none;
    color: black;
}